<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>到这儿</title>
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/styles/common.css">
  <link rel="stylesheet" href="/static/styles/index.css">
</head>

<body>
  <header>
    <img src="/static/images/logo-bg.png" alt="logo">
    <h1>到这儿</h1>
    <h2>害怕错过站, 不如到这儿</h2>
  </header>
  <section class="container">
    <div class="guide-text">

    </div>
    <div class="guide-video">
      <p>操作视频</p>
      <video src="/static/videos/guide.mp4" autoplay loop></video>
    </div>
    <div class="guide-version"></div>
  </section>
  <script src="/static/javascripts/index.js"></script>
</body>

</html>