<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>到这儿</title>
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/styles/index.css">
</head>

<body>
  <header>
    <img src="/static/images/logo-bg.png" alt="logo">
    <h1>到这儿</h1>
    <h2>害怕错过站, 不如到这儿</h2>
  </header>
  <section>
    <ul>
      <li data-tip="第1步: 打开 “到这儿”">
        <img src="/static/images/1.jpeg" alt="guide-1">
      </li>
      <li data-tip="第2步: 点击底部添加按钮">
        <img src="/static/images/2.jpeg" alt="guide-2">
      </li>
      <li data-tip="第3步: 搜索地点, 添加目的地">
        <img src="/static/images/3.jpeg" alt="guide-3">
      </li>
      <li data-tip="第4步: 起个名字, 输入阈值, 保存">
        <img src="/static/images/4.jpeg" alt="guide-4">
      </li>
      <li data-tip="第5步: 开启后, 放心听歌玩手机, 到了我会叫你">
        <img src="/static/images/5.jpeg" alt="guide-5">
      </li>
    </ul>
  </section>
  <footer></footer>
  <script src="/static/javascripts/index.js"></script>
</body>

</html>