html, body {
  font-size: 16px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

img {
  max-width: 100%;
}

header, footer {
  background: rgba(190, 190, 190, 0.1);
  margin: 1.25rem;
}

header {
  align-items: center;
  animation: headerAnimation 500ms ease-in-out forwards;
  display: flex;
  height: 5rem;
  padding: 0 1.25rem;
  opacity: 0;
  transform: translateY(100px);
}

header > img {
  max-width: 3.375rem;
  max-height: 3.375rem;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-left: 1.25rem;
}

header > h2 {
  font-size: 1rem;
  font-weight: lighter;
  margin-left: 0.625rem;
}

section {
  height: calc(100% - 10rem);
  margin: 1.25rem;
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  72% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 540px) {
}