section > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

section > ul > li {
  flex: 0 0 33.3333%;
  list-style: none;
  position: relative;
}

section > ul > li:after {
  content: attr(data-tip);
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}